[submodule "unittests/externals/json"]
	path = unittests/externals/json
	url = https://github.com/rxi/json.lua.git
[submodule "submodules/lunajson"]
	path = submodules/lunajson
	url = https://github.com/grafi-tt/lunajson.git
	branch = e6063d37de97dfdfe2749e24de949472bfad0945
