[submodule "unittests/externals/json"]
	path = unittests/externals/json
	url = https://github.com/rxi/json.lua.git
[submodule "saves/slpp"]
	path = saves/slpp
	url = https://github.com/SirAnthony/slpp.git
